<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LoadAssemblies" type="AF.Bootstrapper.AssembliesSection" />
  </configSections>
  <LoadAssemblies>
    <Assemblies>
      <Assembly name="Chess.AF.Tests"/>
    </Assemblies>
  </LoadAssemblies>
</configuration>
